$darkGrey: rgb(104, 104, 104);
$lightGrey: rgb(236,236,236);
$midGrey: rgb(199, 199, 199);
// $green: rgb(210, 204, 30);
$green: rgb(161,181,65);
$darkBlue: #0C232B;

$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;