$darkGrey: rgb(104, 104, 104);
$lightGrey: hsl(0, 0%, 93%);
$veryDarkBlue: rgb(4, 13, 16);
$midGrey: rgb(199, 199, 199);
// $green: rgb(210, 204, 30);
$green: rgb(161,181,65);
$darkBlue: #0C232B;

$roboto: 'Roboto', sans-serif;
$raleway: 'Raleway', sans-serif;