@import "partials/setup.scss";
@import "partials/variables.scss";
@import "partials/mixins.scss";

html {
    font-size: 62.5%;
}

body {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.skip-link { position: absolute; left: -1000px; top: 5px; z-index: 999; background: white; color: black;}.skip-link:focus {left: 0;}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flexReverse {
    @extend .flex;
    flex-direction: row-reverse;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

h1 {
    @extend %h1;
    color: white;
}

h2 {
    @extend %h2;
}

h3 {
    @extend %h3;
    color: black;
}

h4 {
    @extend %h4;
}

h5 {
    @extend %h5;
}

a {
    @extend %a;
}

a.button, button {
    border-style: none;
    color: white;
    outline: none;
    display: inline-block;
    padding: 13px 28px;
    background-color: transparent;
    max-width: 240px;
    margin: 0 auto;
    margin-top: 20px;
    border: 2px solid white;
    &:hover {
        background-color: $green;
        color: white;
        border: 2px solid $green;
    }

    @media(max-width: 394px) {
        width: 100%;
        text-align: center;
        display: block;
        max-width: unset;
    }
}

p, label, button {
    @extend %p;
}

li {
    padding-bottom: 0;
}

.wrapper {
    @extend %wrapper;
}

// ================header styles======================

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    min-height: 680px;
    width: 100%;
    position: relative;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    
    .wrapper {
        @media(max-width: 480px) {
            width: 90%;
        }
    }

    .navBar {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        padding-top: 20px;

        &.show {
            position: fixed;
            top: 0;
        }

        @media(max-width: 480px){
            width: 90%;
        }

        @media(max-width:330px){
            left: -35px;
        }
    }

    nav {
        flex-basis: 50%;
    }

    .navBarLeft {
        flex-basis: 50%;
        flex-shrink: 1;
        text-align: left;

        @media(max-width:776px) {
            display: none;
        }
    }

    .navBarRight {
        flex-grow: 1;  
        width: 100%;
    }

    ul {
        display: flex;
        justify-content: space-between;
    }

    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;

        @media(max-width: 710px) {
            padding-bottom: 15px;
        }

        @media(max-width: 480px) {
            padding-bottom: 0;
        }
    }

    a:not(.chevron) {
        padding: 10px 10px 10px 30px;

        @media(max-width:774px){
            padding: 10px;
        }

        @media(max-width:380px){
            font-size: 1.5rem;
        }

        @media(max-width:364px){
            font-size: 1.4rem;
        }

        &::after{
            content: '';
            height: 2px;
            width: 80%;
            position: absolute;
            bottom: -10px;
            right: 0;
            left: 0;
            background-color: $green;
            opacity: 0;
            transform: translateX(20px);
            transition: 0.2s;
        }

        @media(min-width:711px) {
            &:hover::after { 
                opacity: 1;
            }
        }
    }
    

    h1 {
        padding-bottom: 30px;

        @media(max-width:681px){
            max-width:250px;
            margin: 0 auto;
            text-align: center;
        }

        @media(max-width:440px){
            font-size:4.5rem;
            line-height: 5rem;
        }
    }

    h2 {
        margin: 0 auto;
        margin-bottom: 45px;
        position: relative;
        text-align: center;

        @media(max-width:739px){
            max-width:280px;
        }

        @media(max-width:440px){
            font-size: 2.2rem;
            letter-spacing: .5rem;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -25px;
            left: 0;
            right: 0;
            width: 40%;
            margin: 0 auto;
            background-color: $green;
            height: 4px;
        }
    }


    svg.logo {
        width: 50px;
        fill: none;
        stroke: white;
        stroke-width: 10px;         
    }

    a.logo {
        padding: 0;
        position: relative;
        left: 0;
        right: 0;
    }

    // Hi! I'm Seth. I like...
    p {
        margin-bottom: 30px;
        max-width: 510px;
        margin: 0 auto;
    }

    a.chevron {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
        width: 100px;

        &:hover svg.chevron {
            fill: $green;
        }
    }

    svg.chevron {
        width: 50px;
        fill: rgba(255,255,255,0.3);
        stroke-width: 10px;
        transition: 0.2s; 
    }
}  
// ======================about styles==============================

.about {
    background: linear-gradient(to bottom, #2f5768, #1f3b45);
    padding: 100px 0;

    .wrapper {
        display: flex;
    }

    p {
        color: white;
        line-height:2.8rem;
    }

    h3 {
        padding-bottom: 30px;
        line-height: 26px;
        color: white;

        @media(max-width:792px){ 
            text-align: center;
            transform: translateX(-50px);
        }

        @media(max-width:400px){ 
            transform: translateX(0px);
        }
        
        &::after {
            content: '';
            height: 5px;
            width: 100px;
            background-color: $green;
            position: absolute;
            top: 22px;
            margin-left: 5px;

            @media(max-width:400px){ 
                width: 0;
            }
        }
    }

    .aboutCopy {
        width: 60%;
        position: relative;

        @media (max-width:792px){
            width: 100%;
        }
    }

    .aboutPhoto {
        width: 40%;
        display: flex;
        justify-content: center;

        @media (max-width:792px){
            display: none;
        }
    }

    .photoContainer {
        height: 300px;
        width: 240px;
        margin-top: 12px;
        overflow: hidden;
        margin-right: 40px;
        box-shadow: -12px -12px $green;

        @media(max-width: 857px){
            width: unset;
        }

        img {
            max-width: 100%;
            transform: scale(1.3);
            object-fit:cover;
            object-position: 10px -20px;

            @media (max-width:792px){
                display: none;
            }
        }
    }

    .copyAndButton {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;

        p:first-child {
            padding-bottom: 10px;
        }
    }

    .button {
        margin: unset;
        margin-top: 30px;
    }
}
// ================ work styles =====================

.work {

    background: linear-gradient(180deg,#0c232b 0%, #3e6071 100%);

    h3 {
        padding-top: 70px;
        text-align: center;
        color: white;
        position: relative;
        transform: translateX(-50px);

        @media(max-width:885px){
            padding-top: 40px;
            padding-bottom: 40px;
        }

        &::after {
            content: '';
            height: 5px;
            width: 100px;
            background-color: $green;
            position: absolute;
            bottom: 20px;
            margin-left: 5px;

            @media(max-width:885px){
                bottom: 60px;
            }
        }
    }
    

    .wrapper {
        width: 80%;
        margin: 0 auto;
        min-height: 500px;
        padding: 60px 0 100px 0;
        position: relative;

        @media(max-width: 885px){
            display: block;
        }

        //green separator lines in work section 
        &:not(.last)::after {
            content: '';
            height: 5px;
            width: 60%;
            background-color: $green;
            position: absolute;
            bottom: -4px;
            right:20%;
        }

        @media(max-width: 885px){
            padding: 60px 0;
        }
    }

    .canIRecycle .wrapper {
        padding-top: 0px;
    }

    // work titles e.g. What's For Dinner
    h4 {
        padding-bottom: 15px;
        color: white;

        @media(max-width: 1145px){
            font-size: 2.8rem;
        }

        @media(max-width: 990px){
            font-size: 2.4rem;
            padding-bottom: 0;
        }

        @media(max-width: 885px){
            text-align: center;
        }
    }

    h5 {
        color: $green;
        padding-top: 10px;

        @media(max-width: 885px){
            text-align: center;
        }
    }

    p {
        color: white;
        letter-spacing: 0.1rem;

        @media(max-width: 885px){
            text-align: center;
        }

        @media(max-width: 500px){
            text-align: left;
        }
    }

    .headerAndDescription a {
        @extend %p;
        text-decoration: underline;
        text-transform: unset;
    }

    .imageContainer {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media(max-width: 885px){
            width: 100%;
        }
    }

    .copy {
        width: 50%;
        min-height: 440px;
        padding: 40px;
        padding-top: 80px;
        padding-bottom: 80px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media(max-width: 885px){
            width: 100%;
            padding: 0;
            min-height: unset;
        }
    }

    img {
        max-width: 130%;
        object-fit: cover;
    }

    .button {
        color: white;
        margin-right: 10px;

        &:hover {
            border: 2px solid $green;
        }
    }

    .copy.left {
        padding-left: 0;
    }

    .copy.right {
        padding-right: 0;
    }
}

.skillsAndButtons {
    @media(max-width: 885px){
        margin: 0 auto;
    }

    @media(max-width: 394px){
        width: 100%;
    }
}

// ============== skills styles ========================

.skills {
    background-color: $veryDarkBlue;
    text-align: center;
    padding: 80px;
    padding-bottom: 140px;

    @media(max-width:449px) {
        padding: 20px;
        padding-bottom: 140px;
    }


    .top-icons,
    .bottom-icons {
        justify-content: space-between;
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        
    }

    .web-icons {
        // justify-content: space-between;
        max-width: 70%;
    }

    h3 {
        position: relative;
        padding-bottom: 90px;
        line-height: 26px;
        color: white;
        transform: translateX(-50px);

        @media(max-width:792px){ 
            text-align: center;
            transform: translateX(-50px);
        }

        @media(max-width:400px){ 
            transform: translateX(0px);
        }
        

        &::after {
            content: '';
            height: 5px;
            width: 100px;
            background-color: $green;
            position: absolute;
            top: 22px;
            margin-left: 5px;

            @media(max-width:400px){ 
                width: 0;
            }
        }
    }

    .fab, .devicon {
        font-size: 6rem;
        padding: 15px;
        color: white;
        margin-bottom: 20px;
    }

    
    .devicon-jquery-plain-wordmark {
        position: relative;
        bottom: -15px;
    }

    .devicon-trello-plain {
        font-size: 5rem;
    }
    
}



// ===================== contact styles =========================
.contact {
    margin: 0 auto;
    padding: 100px 0;
    background-color: $darkBlue;
    
    .wrapper {
        width: 80%;
        max-width: 80%;
        position: relative;
    }

    h3 {
        padding-bottom: 5px;
        text-align: center;
        color: white;
        position: relative;
        transform: translateX(-50px);

        @media(max-width: 445px) {
            margin: 0 auto;
            width: 100%;
            transform: unset;
        }
        
        // green line on get in touch
        &::after {
            content: '';
            height: 5px;
            width: 100px;
            background-color: $green;
            position: absolute;
            bottom: 25px;
            margin-left: 5px;
            
            @media(max-width: 445px) {
                display: none;
            }
        }
    }
    // "I'd love to discuss ideas..."
    p {
        text-align: center;
        max-width: 510px;
        margin: 20px auto 0;
    }

    .formTop {
        display: flex;

        @media(max-width:1073px){
            flex-direction: column;
        }
    }

    label {
        // width: auto;
        position: absolute;
        padding-bottom: 5px;
        bottom: 0;
        padding-right: 20px;
        text-transform: uppercase;
    }

    label[for=name]{
        
        @media(max-width:1073px){
            bottom: 15px; 
        }
    }

    input {
        width: 100%;
    }

    .name, .email {
        width: 50%;
        display: flex;
        justify-content: space-between;
        position: relative;

        @media(max-width:1073px){
            width: 100%;
            padding-right: 0;
        }
    }
    
    .name {

        padding-right: 20px;

        @media(max-width:1073px){
            padding-right: 0;
            padding-bottom: 15px;
        }
    }

    .email {

        input {
            padding-left: 70px;
            padding-bottom: 3px;
        }

        @media(max-width:1073px){
            padding-right: 0;
            padding-left: 0;

        label {
                padding-right: 10px;
            }
        }
    }

    .comment {
        padding-top: 30px;
        display: flex;
        position: relative;

        label {
            top: 43px;
            bottom: unset;
            padding-left: 10px;
        }

        textarea {
            @extend %p;
            flex-grow: 1;
            padding-left: 120px;
            padding-top: 10px;
            background-color: transparent;
            border-bottom: none;
            border: 2px solid white;
            height: 200px;
            resize: none;  
        }
    }

    input {
        @extend %p;
        padding-left: 70px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid white;
        flex-grow: 1;
    }


    button {
        @extend %a;
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 25%;
        min-width: 200px;
        max-width: unset;
        margin-top: 30px;

        @media(max-width:740px){
            position: static;
            width: 100%;
        }

        &:hover {
            border: 2px solid $green;
        }
    }

    .buttonContainer {
        display: flex;
        justify-content: right;
        width: 100%;

        @media(max-width:740px){
            padding-bottom: 20px;
        }
    }

    // contact@sethpoulin.com (this is an <a> tag)
    .emailContact {
        margin: 30px auto;
        text-align: center;
        display: block;
        padding-bottom: 40px;
        width: 100%;

        @media(max-width:740px){
            position: static;
            display: block;
            text-align: center;
        }

        &:hover {
            color: $green;
        }
    }
}

footer {
    background-color: black;
    padding: 5px;
    margin: 0 auto;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    

    .social {
        display: flex;
        justify-content: center;
    }

    nav {
        padding: 13px 0 13px 0;
    }

    ul {
        display: flex;
    }

    li {
        padding: 15px 20px 10px 20px;

        &:hover i {
            color: $green;
        }
    }

    i {
        font-size:2.5rem;
        transition: 0.2s;
    }

    p {
        font-size: 1.4rem;
    }
}
